- empty_repo = @project.empty_repo?
- show_auto_devops_callout = show_auto_devops_callout?(@project)
.project-home-panel{ class: ("empty-project" if empty_repo) }
  .project-header.row.append-bottom-8
    .project-title-row.col-md-12.col-lg-6.d-flex
      .avatar-container.project-avatar.float-none
        = project_icon(@project, alt: @project.name, class: 'avatar avatar-tile s64', width: 64, height: 64)
      .d-flex.flex-column.flex-wrap.align-items-baseline
        .d-inline-flex.align-items-baseline
          %h1.project-title.qa-project-name
            = @project.name
            %span.project-visibility.prepend-left-8.d-inline-flex.align-items-baseline.visibility-icon.has-tooltip{ data: { container: 'body' }, title: visibility_icon_description(@project) }
              = visibility_level_icon(@project.visibility_level, fw: false, options: {class: 'icon'})
        .project-metadata.d-flex.align-items-center
          - if can?(current_user, :read_project, @project)
            %span.text-secondary
              = s_('ProjectPage|Project ID: %{project_id}') % { project_id: @project.id }
          - if current_user
            %span.access-request-links.prepend-left-8
              = render 'shared/members/access_request_links', source: @project
          - if @project.tag_list.present?
            %span.project-topic-list.d-inline-flex.prepend-left-8.has-tooltip{ data: { container: 'body' }, title: @project.has_extra_topics? ? @project.tag_list.join(', ') : nil }
              = sprite_icon('tag', size: 16, css_class: 'icon append-right-4')
              = @project.topics_to_show
              - if @project.has_extra_topics?
                = _("+ %{count} more") % { count: @project.count_of_extra_topics_not_shown  }


    .project-repo-buttons.col-md-12.col-lg-6.d-inline-flex.flex-wrap.justify-content-lg-end
      - if current_user
        .d-inline-flex
          = render 'projects/buttons/notifications', notification_setting: @notification_setting, btn_class: 'btn-xs'

      .count-buttons.d-inline-flex
        = render 'projects/buttons/star'
        = render 'projects/buttons/fork'

      - if can?(current_user, :download_code, @project)
        .project-clone-holder.d-inline-flex.d-md-none.btn-block
          = render "shared/mobile_clone_panel"

        .project-clone-holder.d-none.d-md-inline-flex
          = render "projects/buttons/clone"

  - if can?(current_user, :download_code, @project)
    %nav.project-stats
      .nav-links.quick-links.mt-3
        = render 'stat_anchor_list', anchors: @project.statistics_anchors(show_auto_devops_callout: show_auto_devops_callout)

  .project-home-desc.mt-1
    - if @project.description.present?
      .project-description
        .project-description-markdown.read-more-container
          = markdown_field(@project, :description)
        %button.btn.btn-blank.btn-link.js-read-more-trigger.d-lg-none{ type: "button" }
          = _("Read more")

    - if @project.forked?
      %p
        - if @project.fork_source
          #{ s_('ForkedFromProjectPath|Forked from') }
          = link_to project_path(@project.fork_source) do
            = fork_source_name(@project)
        - else
          - deleted_message = s_('ForkedFromProjectPath|Forked from %{project_name} (deleted)')
          = deleted_message % { project_name: fork_source_name(@project) }

    - if @project.mirror?
      - import_url = @project.safe_import_url
      %p
        Mirrored from #{link_to import_url, import_url}.
        %br
        = render "shared/mirror_status"

  - if @project.badges.present?
    .project-badges.mb-2
      - @project.badges.each do |badge|
        %a.append-right-8{ href: badge.rendered_link_url(@project),
          target: '_blank',
          rel: 'noopener noreferrer' }>
          %img.project-badge{ src: badge.rendered_image_url(@project),
            'aria-hidden': true,
            alt: 'Project badge' }>
