- if current_user && @project.feature_available?(:export_issues)
  .issues-export-modal.modal
    .modal-dialog
      .modal-content
        .modal-header
          %h3
            = _('Export issues')
          .import-export-svg-container
            = render 'projects/issues/import_export.svg'
          %a.close{ href: '#', 'data-dismiss' => 'modal' } ×
        .modal-body
          .modal-subheader
            = icon('check', { class: 'checkmark' })
            %strong.prepend-left-10
              - issues_count = issuables_count_for_state(:issues, params[:state])
              = n_('%d issue selected', '%d issues selected', issues_count) % issues_count
          .modal-text
            = _('The CSV export will be created in the background. Once finished, it will be sent to <strong>%{email}</strong> in an attachment.').html_safe % { email: @current_user.notification_email }
        .modal-footer
          = link_to _('Export issues'), export_csv_project_issues_path(@project, request.query_parameters), method: :post, class: 'btn btn-success float-left', title: _('Export issues'), data: { track_label: "export_issues_csv", track_event: "click_button" }
- elsif show_promotions?
  = render 'shared/promotions/promote_csv_export'
