.custom-project-templates
  - if custom_project_templates.present?
    - custom_project_templates.each do |template|
      .template-option.d-flex.align-items-center
        .avatar-container.s40
          = project_icon(template, alt: template.name, class: 'btn-template-icon avatar s40 avatar-tile', lazy: false)
        .description
          %strong
            = template.title
          %br
          .text-muted
            = template.description
        .controls.d-flex.align-items-baseline
          %a.btn.btn-default.append-right-10{ href: project_path(template), rel: 'noopener noreferrer', target: '_blank' }
            = _('Preview')
          %label.btn.btn-success.custom-template-button.choose-template.append-bottom-0{ for: template.name }
            %input{ type: "radio",  autocomplete: "off", name: "project[template_name]", id: template.name, value: template.name }
            %span
              = _('Use template')

    = paginate custom_project_templates, params: {controller: 'users', action: 'available_project_templates', username: current_user.username}, theme: 'gitlab', remote: true
  - else
    .bs-callout.bs-callout-warning
      %p
        = _("There are no custom project templates set up for this GitLab instance. They are enabled from GitLab's Admin Area. Contact your GitLab instance administrator to setup custom project templates.")

      %strong
        = link_to _("Learn more about custom project templates"), help_page_path("user/admin_area/custom_project_templates")
